@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h2>
    <ul>
        <li>Library Management System is a Web Application created by Maitra Patel, Mohpreet Kaur and Kaushal Virani for Final Project of C#.</li>
        <li>In this project the user can Add, Read, Create and Delete a record for a Book from a Database.</li>
        <li>We can also add data using .json and .xml files.</li>
    </ul>
</h2>
