@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Us!";
}
<h2>@ViewData["Title"]</h2>

<address>
    <h2>Georgian College</h2><br />
    1 Georgian Drive,<br />
    Barrie, ON L4M 4H8 <br />
    <abbr title="Phone">P:</abbr>
    705.100.1054
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@LibraryManagement.com">Support@LibraryManagement.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@LibraryManagement.com">Marketing@LibraryManagement.com</a>
</address>
